cmake-build-*
.idea
.vscode
build
out
bin
include/parser.tab.h
src/parser.tab.cc
src/lex.yy.cc
test/input/*
!test/input/*.txt
test/__pycache__
test/.pascc.*
test/corrtest/input/*
!test/corrtest/input/*.pas
[Cc]MakeFile*
scripts/parser.output
scripts/parser.tab.c
test/errtest/input/temp.pas
test/corrtest/input/input*
test/errtest/output/output*.txt
test/errtest/input/input*.pas
