cmake-build-*
.idea
.vscode
build
out
bin
include/parser.tab.h
src/parser.tab.cc
src/lex.yy.cc
test/input/*
!test/input/*.txt
test/__pycache__
test/.pascc.*
[Cc]MakeFile*
scripts/parser.output
scripts/parser.tab.c
test/errtest/input/temp.pas
